/* @font-face { */
/*     font-family: 'ArsNovaVoidRegular'; */
/*     src: url('arsnovavoid-webfont.eot'); */
/*     src: url('arsnovavoid-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('arsnovavoid-webfont.woff') format('woff'), */
/*          url('arsnovavoid-webfont.ttf') format('truetype'), */
/*          url('arsnovavoid-webfont.svg#ArsNovaVoidRegular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
/* @font-face { */
/*     font-family: 'ArsNovaBlackRegular'; */
/*     src: url('arsnova-black-web.eot'); */
/*     src: url('arsnova-black-web.eot?#iefix') format('embedded-opentype'), */
/*          url('arsnova-black-web.woff') format('woff'), */
/*          url('arsnova-black-web.ttf') format('truetype'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
/* @font-face { */
/*     font-family: 'ArsNovaExtraRegular'; */
/*     src: url('arsnovaxtra-webfont.eot'); */
/*     src: url('arsnovaxtra-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('arsnovaxtra-webfont.woff') format('woff'), */
/*          url('arsnovaxtra-webfont.ttf') format('truetype'), */
/*          url('arsnovaxtra-webfont.svg#ArsNovaXtraRegular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */

/* } */
/* @font-face { */
/*     font-family: 'mensuration'; */
/*     src: url('mensuration.eot'); */
/*     src: url('mensuration.eot?#iefix') format('embedded-opentype'), */
/*          url('mensuration.woff') format('woff'), */
/*          url('mensuration.ttf') format('truetype'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
* {
  font-family: georgia;
}
/* Line Heights (and related stuff) here (so easily changed) */
/* #content{ */
/*   line-height: 1.3; */
/* } */
span.sevenline{
  font-size: 1050%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 140px;
  float: left;
  padding-right: 10px;
}
span.sixline{
  font-size: 900%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 120px;
  float: left;
  padding-right: 10px;
}
span.fiveline{
  font-size: 750%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 100px;
  float: left;
  padding-right: 10px;
}
span.fourline{
  font-size: 560%;
  margin-bottom: -10px;
  line-height: 0.8;
  height: 80px;
  float: left;
  padding-right: 10px;
}
span.threeline{
  font-size: 420%;
  margin-bottom: -6px;
  line-height: 0.8;
  height: 60px;
  float: left;
  padding-right: 10px;
}
span.twoline{
  font-size: 280%;
  margin-bottom: -4px;
  line-height: 0.8;
  height: 40px;
  float: left;
  padding-right: 10px;
}
span.large{
  font-size: 250%;
}
tspan.large{
  font-size: 150%;
}
span.sup {
  font-size: 80%;
  vertical-align: super;
}
/* +0.5x spacing */
/* #content.oneandahalfspacing{ */
/*   line-height: 1.8; */
/* } */
#content.oneandahalfspacing div.para p {
  line-height: 1.95;
}
#content.oneandahalfspacing span.sevenline{
  font-size: 1700%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 220px;
  float: left;
  padding-right: 10px;
}
#content.oneandahalfspacing span.sixline{
  font-size: 1500%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 200px;
  float: left;
  padding-right: 10px;
}
#content.oneandahalfspacing span.fiveline{
  font-size: 1200%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 150px;
  float: left;
  padding-right: 10px;
}
#content.oneandahalfspacing span.fourline{
  font-size: 900%;
  margin-bottom: -10px;
  line-height: 0.8;
  height: 120px;
  float: left;
  padding-right: 10px;
}
#content.oneandahalfspacing span.threeline{
  font-size: 680%;
  margin-bottom: -6px;
  line-height: 0.8;
  height: 90px;
  float: left;
  padding-right: 10px;
}
#content.oneandahalfspacing span.twoline{
  font-size: 400%;
  margin-bottom: -4px;
  line-height: 0.8;
  height: 50px;
  float: left;
  padding-right: 10px;
}
/* +1x spacing */
/* #content.doublespacing{ */
/*   line-height: 2.3; */
/* } */
#content.doublespacing div.para p {
  line-height: 2.45;
}
#content.doublespacing span.sevenline{
  font-size: 2150%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 260px;
  float: left;
  padding-right: 10px;
}
#content.doublespacing span.sixline{
  font-size: 1800%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 240px;
  float: left;
  padding-right: 10px;
}
#content.doublespacing span.fiveline{
  font-size: 1500%;
  margin-bottom: -15px;
  line-height: 0.8;
  height: 200px;
  float: left;
  padding-right: 10px;
}
#content.doublespacing span.fourline{
  font-size: 1200%;
  margin-bottom: -10px;
  line-height: 0.8;
  height: 160px;
  float: left;
  padding-right: 10px;
}
#content.doublespacing span.threeline{
  font-size: 840%;
  margin-bottom: -6px;
  line-height: 0.8;
  height: 120px;
  float: left;
  padding-right: 10px;
}
#content.doublespacing span.twoline{
  font-size: 560%;
  margin-bottom: -4px;
  line-height: 0.8;
  height: 80px;
  float: left;
  padding-right: 10px;
}



/* Onwards... */
#background {
  position:relative;
  width: 98%;
  height: 98%;
  background-color: Wheat; /* #e0e0e0; */
  padding: 0px;
  color: #335500;
  border-color: #e0e0e0;
}
#rendered {
  position: relative;
  background-color: beige;
  border: none;
  /*width: 715px;*/
  height: 95%;
  resize: both;
}
.twocolumn {
  padding-right: 28em;
}
.onecolumn {
  padding-right: 12em;
}
div.marginal{
  position: absolute;
}
.floatingBreak .catchword.marginal {
  position: absolute;
  right: 0;
  text-align: right;
  color: black;
}
.twocolumn .marginalContent {
  margin: -2.2em -28em -100em 0em;
  /* margin: -1em -28em -100em 0em; */
  /* margin-right: -28em; */
  padding-right: 0em;
  padding-left: 19em;
  float: right;
  display: inline-block;
}
.onecolumn .marginalContent {
  margin: -2.2em -12em -100em 0em;
  /* margin: -1em -12em -100em 0em; */
  padding-right: 0em;
  padding-left: 35em;
  float: right;
}
.marginalContent.musical {
  margin-top: 0;
  position: relative;
  left: 0px; /* I don't know why, but it seems to work */
  display: inline-block;
}
div.col.breaker + p.addTopSpaceForMarginal {
  padding-top: 4ex;
}

.drawTo p div.marginal span.marginalContent, span.marginalContent{
  margin: -2.2em 1ex -100em 0;
  text-align: right;
  display: inline-block;
}
span.marginalContent {
  display: inline-block;
}
.drawTo p.onecolumn span.marginalContent.premusical, .drawTo p.twocolumn span.marginalContent.premusical{
  margin-top: 1.2em;
}
#content{
  font-size: 100%;
  height: 100%;
  /* line-height: 1.3; */
  overflow: auto;
  color: black;
}
#exemplum{
  height: 200px;
}
span.verse{
  margin-left: 18px;
  display: inline-block;
}
span.underscore{
  text-decoration: underline;
}
span.redunderscore {
  text-decoration: underline;
  text-decoration-color: #F99;
  -webkit-text-decoration: underline #F99;
}
span.strikethrough.spanred{
  background: url(redthrough.png) repeat-x center left;
  text-decoration: none;
}
span.strikethrough.spanblack{
  background: url(blackthrough.png) repeat-x center left;
  text-decoration: none;
}
span.strikethrough.spanblind{
  background: url(blindthrough.png) repeat-x center left;
  text-decoration: none;
}
span.strikethrough, .strikethrough.text{
  text-decoration: line-through;
}
span.expunction, span.erasure {
  color: #999;
}
span.expunction span.red, span.red span.expunction,
  span.expunction span.red *, span.red span.expunction *,
  span.erasure span.red, span.red span.erasure,
  span.erasure span.red *, span.red span.erasure *{
  color: #F99;
}

span.red, .red.text, span.red *, .red.text *{
  color: red;
  fill: red;
  stroke: red;
}
span.gold, .gold.text, span.gold *, .gold.text * {
  color: #FC0;
}
span.redline, .redline.text {
  text-shadow: red 1px 0px 0px;
}
span.yellowline, .yellowline.text {
  text-shadow: #BC0 2px 1px 0px;
}
span.blueline, .blueline.text {
  text-shadow: blue 1px 0px 0px;
}
span.blue, tspan.blue, .text.blue {
  color: blue;
  fill: blue;
}
span.violet, .violet.text{
  color: #9400D3;
  fill: #9400D3;
}
span.correction .overwritten.m {
  letter-spacing: -1em;
  color: #999;
}
span.correction .correct.n {
  letter-spacing: 0.3em;
}
span.correction.removedPunctuation {
  color: #999;
}
.red span.correction.removedPunctuation, .red span.correction span.overwritten.m, .red span.wordsplit, .red span.wordjoin {
  color: #F99;
  stroke: #F99;
}
span.correction.insertedPunctuation {
  font-weight: bold;
}
.wordsplit, .wordjoin{
  color: #999;
  stroke: #999;
}
pre p{
  margin-top: 16px;
  margin-bottom: 16px;
}
.indent{
  text-indent: 18px;
}
.centre{
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.custos, .fermata{
    /* HACK to fix WebKit rendering */
  white-space: pre;
}
pre {
/* width: 880px;*/
 font-family: serif;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.notation{
  float: left;
  position: relative;
  margin: 5px;
  top: 0px;
  background-color: white;
  border: none;
}
#codediv{
  float: right;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0px;
  padding: 0px;
/*  width: 45%;*/
}
#codediv #code{
/*  width: 100%;*/
  font-size: 13px;
  font-family: verdana, sans-serif;
  top: 20px;
}
tr.tc {
  display: none;
}
tr.score {
 background-color: #BCF;
}
tr.pieceinfo {
 margin-bottom: 5px;
}
tr.pieceinfo:hover {
  background-color: #DEF;
}
table.settings {
  border: none;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  width: 922px;
}
table.settings tr td {
  padding: 5px;
}
table.settings tbody * {
  font-size: small;
}
.tabselect {
  background-color: Wheat;
}
.fontselect {
  background-color: Azure;
}
.tuning {
  background-color: LemonChiffon;
}
.tempo {
  background-color: MistyRose;
}
.examples {
  background-color: Thistle;
  width: 25%;
}
div.buttons {
  padding: 2px;
  border: none;
}
.space {
  white-space: pre;
  padding: 0 1em;
}
.space.micro {
  white-space: pre;
  padding: 0 0.2em;
}
.hang {
  text-indent: -1ex;
}

.colend, .TabularRow.colend .TabularCell {
  /* border-bottom: 2px dashed #99F; */
  border-bottom: none;
  margin-bottom: 0px;
  clear: both;
}
p.colend {
  border-bottom: none;
  margin-bottom: 2px;
}
p.colend.columnPara {
  margin-top: 6px;
  margin-bottom: 2px;
}

.col {
  text-align: right;
  /* font-family: sans-serif; */
  font-weight: bold;
  font-size: small;
  color: #66C;
  fill: #66C;
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 12px;
} 

.pag {
  font-size: 130%;
}

.fol {
  font-size: 120%;
}

.fieldname {
  font-weight: bold;
  font-size: 80%;
}

.scaleButton {
  padding: 2px;
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

.scaleButton:hover {
  padding: 2px;
  background-color: #FFA;
}

.annotation, .variants {
  font-family: sans-serif;
/*   font-size: 180%; */
/*   line-height: 0.5; */
/*   vertical-align: -60%; */
  letter-spacing: 0.1ex;
  font-size: 120%;
  cursor: default;
}
.annotation{
  color: black!important;
  position: relative;
  z-index: 140;
}
/* .annotation { */
/*   color: blue; */
/*   fill: blue; */
/*}*/

.choice .text{
  font-size: 100%;
  font-family: georgia, serif;
}

.choice, .variantGroup {
  color: #060;
  fill: #060;
}
.variantGroup line, .variantGroup line.rest{
  stroke: #060;
}
.variantGroup path, .variantGroup path.red  {
  fill: #060;
}
#TheTreatiseEditor .choice, .variantGroup {
  color: #0B0;
  fill: #0B0;
}
#TheTreatiseEditor .variantGroup line, .variantGroup line.rest{
  stroke: #0B0;
}
#TheTreatiseEditor .variantGroup path, .variantGroup path.red  {
  fill: #0B0;
}
#TheTreatiseEditor .variantGroup .menssign {
  fill: #0B0;
}
#TheTreatiseEditor .variantGroup .ligatureBox .ligatureVertical, #TheTreatiseEditor .variantGroup .ligatureBox .ligatureStem, 
   .variantGroup .ligatureBox .ligatureHorizontal, .variantGroup .barline{
  stroke: #060;
}

#TheTreatiseEditor .variantGroup .variantGroup, #TheTreatiseEditor .variantGroup .variantGroup path,
#TheTreatiseEditor .variantGroup .variantGroup line, #TheTreatiseEditor .variantGroup .variantGroup path.red,
#TheTreatiseEditor .variantGroup .variantGroup line.rest{
  color: #00B!important;
  fill: #00B!important;
}
#TheTreatiseEditor .variantGroup .musical.variants {
  color: #00B!important;
  fill: #00B!important;
}

.variants.highlight {
  text-decoration: none;
}

.marginalStar {
  font-family: sans-serif;
  font-size: 180%;
  line-height: 0.4;
  vertical-align: -60%;
  color: #E0A;
  cursor: default;
}

.marginalContent {
  line-height: 0.9;
  font-size: 90%;
}

.examplecomments {
  margin: -20px 30px 0 30px;
  padding: 3px;
  border: 1px dotted #663;
  background-color: #DDDDCC;
}
.tooltip, .popup {
		/* display:none; */
		background-color:#ffa;
    z-index: 180;
		border:1px solid #cc9;
		padding:3px;
		font-size:13px;
		-moz-box-shadow: 2px 2px 11px #666;
		-webkit-box-shadow: 2px 2px 11px #666;
		box-shadow: 2px 2px 11px #666;
/*    cursor: none;*/
}
.tooltip.clicked, .popup.clicked {
	padding-right:25px;
}

.popup svg:before{
  content: attr(name);
  font-weight: bold;
  color: black;
}

.hand, .citation, .italic{
  font-style: italic;
}

.hand{
  cursor: pointer;
}

.index.tabular .TabularCell.r {
  vertical-align: bottom;
}

.marginLoc{
  font-size: 0.7em;
  /* vertical-align: super; */
  color: #888;
  display: block;
}

/* svg.musicexample{ */
/*  width: 690px; */
/* } */
div.musicexample {
  display: inline-block;
}
svg {
  /* -moz-transform: scale(0.8, 0.8); */
  /* -webkit-transform: scale(0.8, 0.8); */
  /* -ms-transform: scale(0.8, 0.8); */
  /* -o-transform: scale(0.8, 0.8); */
  /* transform: scale(0.8, 0.8); */
  /* margin-top: -10px; */
  margin-top: 2px;
  line-height: 1em;
}
div.musicexample.standalone svg{
  margin-top: 5px;
}
div.musicexample.standalone {
  margin-bottom: 5px;
}

.redSVGLine{
  stroke: #F00;
}

.blackSVGLine{
  stroke: #000;
}

.blindSVGLine, .ledgerline.blind{
  stroke: #AAA;
}

.NoSVGLine{
  stroke: none;
}

.notegroup.halffull2 .mensural, .notegroup.halffull1 .mensural{
  font-family: ArsNovaExtraRegular;
}

.mensural, .symbolbutton.duration.void{
  font-family: ArsNovaVoidRegular;
}

.plainchant, .notegroup.full text{
  font-family: ArsNovaBlackRegular;
}

.menssign{
  fill: black;
  stroke: none;
  font-family: mensuration;
}

.variantGroup .menssign {
  fill: #060;
}

.repeatGroup .repeatdot {
  stroke: none;
}

.maxRestGroup, .maxRestGroup line, .longRest, .longRest line, .repeatGroup, .repeatGroup line {
  stroke: black;
  stroke-width: 2.3;
}

/* .annotation line { */
/*   stroke: blue; */
/* } */

.ligatureVertical, .ligatureStem, .rhombusTail, .neumeJoin, .neumeLine, .chantTail {
  /* stroke-width: 1.4; */
  stroke-width: 1.1;
  stroke: black;
}
.neumeLine, .chantTail {
  stroke-width: 1.1;
}
neumeJoin{
  stroke-width: 4;
}
.ligatureHorizontal {
  /* stroke-width: 3.5; */
  stroke-width: 2.4;
  stroke: black;
}

.variantGroup .ligatureBox .ligatureVertical, .variantGroup .ligatureBox .ligatureStem, 
   .variantGroup .ligatureBox .ligatureHorizontal, .variantGroup .barline{
  stroke: #060;
}

.variantGroup .variantGroup, .variantGroup .variantGroup path,
.variantGroup .variantGroup line, .variantGroup .variantGroup path.red,
.variantGroup .variantGroup line.rest{
  color: #006!important;
  fill: #006!important;
}
.variantGroup .musical.variants {
  color: #006!important;
  fill: #006!important;
}

.ligatureOblique, .ligatureBox { 
  pointer-events: all;
}

.chantSquare {
  stroke-width: 7.5;
  stroke: black;
}

.obliqueOuter, .rhombus {
  fill: black;
  stroke-width: 0;
}
.obliqueInner {
  fill: white;
  stroke-width: 0;
}
.ledgerline{
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.scallopedBarline, .barlineComponent, .barline{
  stroke: black;
  stroke-width: 1.5;
  fill: none;
}

 .barline.chantbar{
   stroke-width: 1;
}

.ligatureVertical.red, .ligatureStem.red, .rhombusTail.red, .neumeJoin.red, 
  .ligatureHorizontal.red, .chantSquare.red, chantTail.red, .scallopedBarline.red,
  .barlineComponent.red, .barline.red, ligatureVertical.red, .ledgerline.red {
  stroke: red;
}
.red *, .ligatureOblique.red, .etc.red{
  stroke: red;
  fill: red;
}
.text.red, .red .notegroup .mensural, .red.notegroup .mensural, text.etc.red{
  stroke: none;
}

.red.sigcongruent {
  stroke: none;
  fill: red;
}
.blue.sigcongruent {
  stroke: none;
  fill: blue;
}
tspan.tspanSup {
  font-size: 60%;
}
.noitalic {
  font-style: normal;
}
.punctbothms{
  color: red;
}
.punctbothms:after{
  content:"/";
}
.punctbothmod{
  color: blue;
}
.break{
  display: block;
  line-height: 0.5;
}
.textblock {
  /* font-size: 120%; */
}
.part.textblock {
		font-style: italic;
}
.textblock.r90a, .textblock.r90c {
  font-size: 95%;
}
.textblock.r90a {
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
		transform-box: fill-box;
		transform-origin: top center;
}
.textblock.r90c {
		writing-mode: vertical-lr;
}
.variantReading .editorialDescription, .variantReading .readingDesc {
  font-style: italic;
  font-weight: normal;
  font-size: 100%;
}

.variantReading .editorialDescription{
  padding-left: 0.3ex;
}
.variantReading .readingDesc {
  padding-right: 0.3ex;
}

.variantWitnessList {
  padding: 0.1ex;
}
.variantWitnessList .variantWitness, .variantWitnesses{
  font-weight: bold;
  font-size: 90%;
}

.variantWitnesses .witnessdescription {
  font-weight: normal;
  font-style: italic;
}

.variantWitnessesSpecial {
  font-style: italic;
  padding: 1ex;
  font-size: 90%;
}

tspan.correctionem {
  font-size: 80%;
}

.divider {
  stroke: #CDC;
  stroke-width: 1.5px;
}

.choice {
  color: #060;
  /* font-weight: bolder; */
}

span.choice span.choice {
  color: #006!important;
}

.variants {
  display: none;
}
.variants.ins {
  display: inline;
  /* letter-spacing: -3px; */
  margin-right: -3px;
  margin-left: -3px;
  line-height: 0;
}
.variants.musical {
  color: #060;
  fill: #060;
  stroke: #060;
  display: inline;
}

.treatiseTitle {
  text-align: center;
  font-size: 130%;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.heading {
  font-style: italic;
}
.subheading {
  font-style: italic;
}

.highlight {
  text-decoration: underline;
}
.variants.highlight {
  text-decoration: none;
}

.sourcedescription {
		text-indent: 3ex;
		font-size: 95%;
		padding-bottom: 6px;
}

.sourceidentifier {
  font-weight: bold;
  display: inline-block;
  width: 9ex;
	vertical-align: top;
}
.sourcedetails {
		display: inline-block;
		text-indent: 0;
		width: 52ex;
		vertical-align: top;
}
.sourceascription {
		display: inline-block;
		text-indent: 0;
		width: 11ex;
		vertical-align: top;
}

#buttonbox{
  background-color: white;
  z-index: 12;
  position: absolute;
  border: 2px solid Wheat;
  padding: 3px;
  border-collapse: collapse;
}
.buttonrow, .buttonbar{
  display: table-row;
  border: none;
}
.buttonrow.extrarow{
  display: block;
  padding: 5px;
}
.buttoncell{
  display: table-cell;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.buttoncell span{
  padding: 0;
  margin: 0;
}
.wrapstuff, .linespace{
 display: table-cell;
}
.uibutton{
  background-color: #FFFFFF;
  padding: 6px;
  border: 2px solid #DDD;
  border-radius: 7px;
  cursor: pointer;
}
.uibutton.selected{
  border: 2pt solid #224;
  background-color: #DDF
}
.uibutton:hover{
  border: 2pt solid #69A;
}
.clickable:hover{
  cursor: pointer;
  stroke: blue;
  stroke-width: 2px;
}
.clickable *:hover {
  stroke: blue;
  fill: blue;
}

.uibutton * .chantsquare {
  stroke-width: 15;
}

.uibutton * .chantTail {
  stroke-width: 2.8;
}

.buttoncircle {
  height: 26px;
  width: 26px;
  background: white;
  opacity: 0.8;
  border-radius: 13px;
  border: 1px solid gray;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.miscbutton{
  position: absolute;
  z-index: 12;
  /* background-color: white; */
  /* opacity: 0.4; */
  /* cursor: pointer; */
  padding: 2px;
}
.miscbutton span {
  font-weight: bold;
  font-size: 100%;
  opacity: 1;
}
.miscbutton:hover{
  opacity: 0.9;
  color: orange;
  font-size: 110%;
}
#uparrow{
  top: -15px;
  left: 5px;
  background-color: white;
  border: 2px solid #CCC;
  border-radius: 2px;
  opacity: 1;
  position: absolute;
}
#downarrow{
  bottom: -13px;
  left: 5px;
  background-color: white;
  border: 2px solid #CCC;
  border-radius: 2px;
  opacity: 1;
  position: absolute;
}
#buttonbar .uibutton{
  display: table-cell;
  padding: 0.5ex;
  margin: 0.5ex;
}
.spanpicker{
  width: 1ex;
  height: 1ex;
  margin: 0.1ex;
}
.punctoggle{
  cursor: pointer;
}
svg{
  display: inline-block;
  vertical-align: text-top;
}
.drawTo{
  position: relative;
}
.drawTo p{
  margin: 0.6em 0 0.6em 4px;
}
p.justMusic{
  margin-top: 0;
  margin-bottom: 0;
}
.clicked .variantNote{
  margin-right: 18px;
}
.glow.clicked{
  /* border: 2px solid #0DE; */
	-moz-box-shadow: 2px 2px 11px #A66;
	-webkit-box-shadow: 2px 2px 11px #A66;
	box-shadow: 2px 2px 11px #A66;
  border: 1px solid #A66;
}
.refglow, .refglow .menssign, .variantGroup.refglow .ligatureBox .ligatureHorizontal,
    .refglow.variantGroup .ligatureBox .ligatureVertical, .refglow .ligatureVertical,
    .refglow .sigcongruent{
  stroke-width: 1.2;
  stroke: #A00;
  fill: #A00;
}
.variantGroup.refglow .ligatureBox .ligatureHorizontal{
  stroke-width: 3;
  color: #A00;
}
.add, .editorial, .indicative {
  color: #888;
  fill: #888;
}
.nobreak {
  white-space: nowrap;
}
line.colend{
  stroke-dasharray: 10,10;
  stroke: #99F;
  stroke-width: 2px;
}
line.colend.inv{
  stroke-dasharray: 10,10;
  stroke: rgba(143, 143, 255, 0);
  stroke-width: 2px;
}

/* AND NOW, REPLACING SOME OF THIS: FIXME: OLD CODE ABOVE*/
/* .onecolumn { */
/*   padding: 0 1ex 0 1ex; */
/* } */
/* .twocolumn { */
/*   padding: 0 1ex 0 1ex; */
/* } */
#navbox {
  /* padding: 0px; */
}
/* .drawTo.marginalia .onecolumn span.marginalContent,  */
/* .drawTo.marginalia .twocolumn span.marginalContent { */
/*   /\* margin: -1em 0em -60em 0em; *\/ */
/*   /\* margin-right: 0em; *\/ */
/*   padding-right: 0em; */
/*   margin: -1em -12em -100em 0em; */
/*   /\* padding-left: 12em; *\/ */
/*   float: right; */
/* } */
/* /\* .onecolumn .marginalContent, .twocolumn .marginalContent { *\/ */
/* /\*   margin: -1em 0em -60em 0em; *\/ */
/* /\*   /\\* margin-right: 0em; *\\/ *\/ */
/* /\*   padding-right: 0em; *\/ */
/* /\*   padding-left: 12em; *\/ */
/* /\*   float: right; *\/ */
/* /\* } *\/ */

/* .drawTo.marginalia div.para{ */
/*   margin-right: 12em; */
/* } */

#navbox * {
  font-size: 95%;
  /* letter-spacing: -0.5px; */
  /* font-family: Georgia, serif; */
}

p {
  font-size: 100%;
  line-height: 145%;
}
/* #content.oneandahalfspacing { */
/*   line-height: 1.3; */
/* } */
/* #content.doublespacing { */
/*   line-height: 1.3; */
/* } */
#content.oneandahalfspacing div.para p {
  line-height: 1.95;
}
#content.doublespacing div.para p {
  line-height: 2.45;
}

.ligatureHorizontal {
  stroke-width: 2.6;
}
div.musicexample {
  display: inline-block;
}
svg {
  /* -moz-transform: scale(0.8, 0.8); */
  /* -webkit-transform: scale(0.8, 0.8); */
  /* -ms-transform: scale(0.8, 0.8); */
  /* -o-transform: scale(0.8, 0.8); */
  /* transform: scale(0.8, 0.8); */
  margin-top: 0px;
}
div.musicexample:first-child svg{
  margin-top: 0px;
}

.chantSquare {
  stroke-width: 5.5;
}

.maxRestGroup, .maxRestGroup line, .longRest, .longRest line {
  stroke: black;
  stroke-width: 1.5;
}

span.heading span.noitalic:first-child {
  color: red;
}

.pilcrow {
  color: blue;
}
#TheTreatiseEditor .cursorLocator {
  position: fixed;
  right: 3px;
  top: 0;
  margin: 3px;
  background: rgba(255,255,255,0.7);
}
.indexLine {
  position: relative;
}
.right-stop {
  position: absolute;
}
.right-stop {
/*  right: 12em;*/
right: 0;
}

div.tabular{
  display: table;
}
div.tabular div.TabularRow{
  display: table-row;
}
div.tabular div.TabularRow div.TabularCell{
  display: table-cell;
  padding-right: 4ex; 
  padding-left: 1.5ex;
  text-indent: -1.5ex;
}
div.tabular > .choice, div.tabular > .choice > .variantReadingText {
  display: table-row-group;
}
div.tabular div.TabularRow.continued div.TabularCell{
  text-indent: 0;
}

div.tabular div.TabularRow div.TabularCell.r{
  display: table-cell;
  padding-left: 4ex; 
  padding-right: 0.2ex;
  text-align: right;
}
div.tabular div.TabularRow div.TabularCell.c{
  display: table-cell;
  padding-left: 0.2ex; 
  padding-right: 0.2ex;
  text-align: center;
}
.floatingBreak {
  z-index: 100;
  cursor: default;
}
.floatingBreak.col {
  /* pointer-events: none; */
  position: absolute;
  width: 98%;
  border-top: 2px dashed #88F;
  border-top: 2px dashed rgba(127, 127, 255 0.95);
  color: rgba(127, 127, 255, 0.95);
}
div#zoomedImageDiv{
  position: fixed;
  bottom: 15px;
  z-index: 170;
  background-color: #999;
  border: 1px solid #933;
  -moz-box-shadow: 4px 4px 4px #666;
  -webkit-box-shadow: 4px 4px 4px #666;
  box-shadow: 4px 4px 4px #666;
}
div.thumbdiv{
  position: absolute;
  bottom: 15px;
  right: 15px;
  min-height: 10px;
  min-width: 10px;
  background-colour: rgba(255,255,0,0.5);
}
.infoshowhide{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 4px;
  padding: 2px;
  font-size: 16px;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Verdana, Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #FFF;
  background-color: #0b2573;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.infoshowhide:hover, .infoshowhide.showing:hover{
  background-color: #66F;
}
.infoshowhide.showing{
  background-color: #00F;
}
.infoshowhide div{
  margin-top: -5px;
}
.infoButtons .license{
  padding: 0 10px;
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}
.TBCloseButton{
  background-image: url("../Images/cross-small.png");
  background-position: center;
  border: 1px solid #AAA;
  border-radius: 4px;
  float: left;
  margin: 2px 4px 0px 4px;
  /* padding: 2px; */
  height: 16px;
  width: 16px;
}
.TBCloseButton:hover{
  /* border-color: #DDD; */
  background-color: #F5F5DC;
}
.TBCloseButton.closepopup{
 position: absolute;
 top: 2px;
 right: 2px;
}
.Commentary {
  background-color: #DBEAFF;
  border: 1px solid #B2D3FF;
  padding: 5px;
  border-radius: 12px;
  margin-right: -8.5em;
  margin-left: -0.5em;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 80%;
}
.Commentary.small {
  display: inline-block!important;
}
.Commentary .Raw, .Commentary .two-sys{
  max-height: 153px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 -0.5em;
}
.Commentary .ten-line-table{
  max-height: 260px;
  overflow-y: scroll;
}
.Commentary td {
  padding: 5px;
}
.Commentary img {
  max-width: 560px;
  padding: 2px;
  background-color: white;
}
.Commentary * {
    font-family: Verdana, Geneva, sans-serif;

}
.Commentary .b {
  font-weight: bold;
}
.resolved, .resolved * {
		color: #999;
		stroke: #999 !important;
		fill: #999;
}
.invisible {
		fill-opacity: 0.1;
}
a.MEI {
		text-decoration: none;
		font-weight: bold;
		font-size: 50%;
    color: #999;
    float: right;
}
a.MEI:hover {
		text-decoration: underline;
    color: #888;
    float: right;
}
