<div class="header">
    <div class="imagebox" id="EMT">
      <a href="{{page.rel_url}}/#">
        <img src="{{page.rel_url}}/Images/EMT logo full.png" id="EMTLogo" alt="Early Music Theory Logo" name="EMTLogo"  />
      </a> 
    </div>
  <div class="imagebox" id="projectlogo">
    <a href="{{page.rel_url}}/Tinctoris/Articles/Johannes-Tinctoris-And-Music-Theory/#">
      <img src="{{page.rel_url}}/Images/JTMT-ES_logo.png" id="JTLogo"  alt="Tinctoris EditonLogo" />
    </a>
  </div>
  <div class="imagebox right QuickLinks" id="Team">
    
        <!--<a href="http://earlymusictheory.org/blog" id="QLBlog"></a>
        <div class="ql-divider"></div>-->
        <!--<div>
          <a href="{{page.menu_base}}/../#" id="QLHome" style="position: absolute; top: 85px; right: 150px;"></a>
        </div>-->        
  </div>
</div>