<div class="nav">
    <div class="row">
          <div class="tabl">
              <div class="frontpagemenu fiveblock">
                <ul id="MenuBar1" class="MenuBarHorizontal MenuBarActive">
          <li><a class="MenuBarItem" id="home">Home</a></li>
          <li><a class="MenuBarItemSubmenu" href="view.html" id="tinctoris">Tinctoris</a>
            <ul>
              <li><a href="view.html?tMasses" id="tMasses">Masses</a></li>
              <li><a href="#" class="placeholder" id="tMotets">Motets &c.</a></li>
              <li><a href="#" class="placeholder" id="tSongs">Songs</a></li>
            </ul>
          </li>
          <li><a class="MenuBarItem" href="view.html?dufay" id="dufay">Du Faÿ</a></li>
          <li><a class="MenuBarItem" href="view.html?busnois" id="busnois">Busnoys</a></li>
          <li><a class="MenuBarItem" id="about">About</a></li>
                  </ul>
              </div>
        </div>
      <div class="tabr"></div>
  </div>
</div>