<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="{{site.url}}">
      <img src="{{site.url}}/Images/EMT logo abbr.png" width="30" height="30" class="d-inline-block align-top" alt="EMT" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navToggler" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          {% for entry in site.data.menu.menu %}
            {% if entry.url %}
              {% capture entry_href %}{{entry.url}}{% endcapture %}
            {% else %}
              {% capture entry_href %}view.html?item={{entry.id}}{% endcapture %}
            {% endif %}
            {% if entry.items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{entry_href}}" id="{{entry.id}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{entry.label}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for subentry in entry.items %}
                {% if subentry.url %}
                  {% capture subentry_href %}{{entry.url}}}{% endcapture %}
                {% else %}
                  {% capture subentry_href %}view.html?item={{subentry.id}}{% endcapture %}
                  {% if subentry.file %}
                    {% capture subentry_href %}{{subentry_href}}{% endcapture %}
                  {% endif %}
                {% endif %}
                <a class="dropdown-item" href="{{subentry_href}}">{{subentry.label}}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{entry_href}}">{{entry.label}}</a>
            </li>
            {% endif %}
          {% endfor %}
      </ul>
      {% if page.name == "view.html" %}
        <div class="btn-group mr-1" role="group" aria-label="layout options">
          <button id="layoutBook" type="button" class="btn btn-light"><i class="bi bi-book"></i></button>
          <button id="layoutPageParts" type="button" class="btn btn-light"><i class="bi bi-view-stacked"></i></button>
          <button id="layoutParts" type="button" class="btn btn-light"><i class="bi bi-file"></i></button>
        </div>
        <button id="showvariants" type="button" class="btn btn-light variantsettings"><i class="bi bi-eye"></i></button>
        <button id="hidevariants" type="button" class="btn btn-light variantsettings" hidden><i class="bi bi-eye-slash"></i></button>
      {% endif %}
  </div>
</nav>