<div class="header">
    <div class="imagebox" id="EMT"><a href="{{page.style_url}}#"><img src="{{page.style_url}}/Images/EMT logo full.png" id="EMTLogo" alt="Early Music Theory Logo" name="EMTLogo"  /></a> </div>
  <div class="imagebox" id="projectlogo"><a href="#"><img src="{{page.style_url}}/Images/JT CTW Title main.png" id="JTLogo"  alt="Tinctoris EditonLogo" /></a></div>
  <div class="imagebox right QuickLinks" id="Team">
    <!-- <a href="#"><img src="Images/masthead_team.png" id="JTTeam" alt="Team: Ronald Woodley, Jeffrey Dean & David Lewis" /></a> -->
    <!-- FIXME: not accessible -->
    <a href="Project/ProjectTeam/#">
    <table class="team">
      <tr>
        <td id="projectTeam"></td>
        <td id="RonaldWoodley"></td>
      </tr>
      <tr>
        <td />
        <td id="JeffreyDean"></td>
      </tr>
      <tr>
        <td />
        <td id="DavidLewis"></td>
      </tr>
    </table>
    </a>
        <a href="http://earlymusictheory.org/blog" id="QLBlog"></a>
        <div class="ql-divider"></div>
        <a href="http://earlymusictheory.org/Tinctoris" id="QLHome"></a>      
  </div>
</div>