<div class="nav">
    <div class="row">
          <div class="tabl">
              <div class="frontpagemenu fourblock">
                <ul id="MenuBar1" class="MenuBarHorizontal">
          <li><a class="MenuBarItem" href="../">Home</a></li>
        <li><a class="MenuBarItemSubmenu" href="#">Project</a>
          <ul>
            <li><a href="Project/ProjectTeam/#">Project Team</a></li>
            <li><a href="Project/Funding/#">Funding</a></li>
          </ul>
        </li>
        <li><a href="#" class="MenuBarItemSubmenu">Texts</a>
          <ul id="textMenu" >
            <li><a class="notes first" href="Notes/TreatiseTitles/#">A note about treatise titles</a></li>
            <li><a class="notes last" href="Notes/PresentationOfTexts/#">Notes on the presentation of texts</a></li>
            <li><a class="placeholder" href="#">Expositio manus</a></li>
            <li><a class="placeholder" href="#">De natura et proprietate tonorum</a></li>
            <li><a href="denotisetpausis/#">De notis et pausis</a></li>
            <li><a href="deregularivalorenotarum/#">De regulari valore notarum</a></li>
            <li><a href="deimperfectionenotarum/#">De imperfectione notarum musicalium</a></li>
            <li><a href="dealterationenotarum/#">De alteratione notarum</a></li>
            <li><a href="depunctis/#">De punctis</a></li>
            <li><a href="deartecontrapuncti/#">De arte contrapuncti</a></li>
            <li><a class="placeholder" href="#">Proportionale musices</a></li>
            <li><a class="placeholder" href="#">Diffinitorium musice</a></li>
            <li><a class="placeholder" href="#">Complexus effectuum musices</a></li>
            <li><a href="deinventioneetusumusice/#">De inventione et usu musice</a></li>
          </ul>
        </li>
        <li><a href="../Help/#" class="MenuBarItem">Help</a></li>
      </ul>
    </div>
    </div>
      <div class="tabr"></div>
  </div>
</div>