<div class="nav">
    <div class="row">
          <div class="tabl">
              <div class="frontpagemenu fourblock">
                <ul id="MenuBar1" class="MenuBarHorizontal">
          <li><a class="MenuBarItem" href="{{page.menu_base}}/">Home</a></li>
        <li><a class="MenuBarItemSubmenu" href="#">Project</a>
          <ul>
            <li><a href="{{page.menu_base}}/Project/team.html">Project Team</a></li>
            <li><a href="{{page.menu_base}}/Project/funding.html">Funding</a></li>
          </ul>
        </li>
        <li><a href="#" class="MenuBarItemSubmenu">Texts</a>
          <ul id="textMenu" >
            <li><a class="notes first" href="{{page.menu_base}}/Notes/titles.html">A note about treatise titles</a></li>
            <li><a class="notes last" href="{{page.menu_base}}/Notes/presentation.html">Notes on the presentation of texts</a></li>
            <li><a class="placeholder" href="#">Expositio manus</a></li>
            <li><a class="placeholder" href="#">De natura et proprietate tonorum</a></li>
            <li><a href="{{page.menu_base}}/denotisetpausis/#">De notis et pausis</a></li>
            <li><a href="{{page.menu_base}}/deregularivalorenotarum/#">De regulari valore notarum</a></li>
            <li><a href="{{page.menu_base}}/deimperfectionenotarum/#">De imperfectione notarum musicalium</a></li>
            <li><a href="{{page.menu_base}}/dealterationenotarum/#">De alteratione notarum</a></li>
            <li><a href="{{page.menu_base}}/depunctis/#">De punctis</a></li>
            <li><a href="{{page.menu_base}}/deartecontrapuncti/#">De arte contrapuncti I</a></li>
            <li><a href="{{page.menu_base}}/dearte23/#">De arte contrapuncti II-III</a></li>
            <li><a class="placeholder" href="#">Proportionale musices</a></li>
            <li><a class="placeholder" href="#">Diffinitorium musice</a></li>
            <li><a href="{{page.menu_base}}/complexus/#">Complexus effectuum musices</a></li>
            <li><a href="{{page.menu_base}}/deinventioneetusumusice/#">De inventione et usu musice</a></li>
          </ul>
        </li>
        <li><a href="{{page.menu_base}}/../Help/#" class="MenuBarItem">Help</a></li>
      </ul>
    </div>
    </div>
      <div class="tabr"></div>
  </div>
</div>