<div class="sidebar1">
    <div class="accordion" id="esSidemenu">
        <div class="card">
            <div class="card-header" id="indexHeader">
                <a href="{{page.menu_base}}/#" class="btn btn-link btn-block text-left text-muted" role="button" aria-expanded="false">
                    Overview
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <button id="btnOne" class="btn btn-link btn-block text-left font-weight-bold text-muted" type="button" data-toggle="collapse"
                    data-target="#partOne" 
                    {% if page.collapse=='btnOne' %}
                    aria-expanded="true"
                    {% else%}
                    aria-expanded="false"
                    {% endif %}
                    aria-controls="partOne">
                    Part One: Reading Tinctoris
                </button>
            </div>
            <div id="partOne" 
            {% if page.collapse=='btnOne' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="headingOne" data-parent="#esSidemenu">
                <div class="btn-group-vertical d-flex">
                    <a href="{{page.menu_base}}/Dean/#" role="button" class="btn btn-block btn-light text-left">
                        Dean: 
                        ‘Tinctoris’s Reading Practice’
                    </a>
                    <a href="{{page.menu_base}}/Mengozzi/#" role="button" class="btn btn-block btn-light text-left">
                        Mengozzi: 
                        ‘Dahlhaus’s Principles and Tinctoris’s Ears’
                    </a>
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Whittaker: 
                        ‘Reading Tinctoris’s Readers’
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <button id="btnTwo" class="btn btn-link btn-block text-left font-weight-bold text-muted" type="button" data-toggle="collapse"
                    data-target="#partTwo" 
                    {% if page.collapse=='btnTwo' %}
                    aria-expanded="true"
                    {% else%}
                    aria-expanded="false"
                    {% endif %}
                    aria-controls="partTwo">
                    Part Two: Modal & Contrapuntal Theory
                </button>
            </div>
            <div id="partTwo" 
            {% if page.collapse=='btnTwo' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="headingTwo" data-parent="#esSidemenu">
                <div class="btn-group-vertical">
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Morgan: ‘Tinctoris’s Interval Successions’
                    </a>
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Lorenz: ‘Shifting of the Phrygian Paradigm’
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <button id="btnThree" class="btn btn-link btn-block text-left font-weight-bold text-muted" type="button" data-toggle="collapse"
                    data-target="#partThree" 
                    {% if page.collapse=='btnThree' %}
                    aria-expanded="true"
                    {% else%}
                    aria-expanded="false"
                    {% endif %}
                    aria-controls="partThree">
                    Part Three: Theory in Practice
                </button>
            </div>
            <div id="partThree" 
            {% if page.collapse=='btnThree' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="headingThree" data-parent="#esSidemenu">
                <div class="btn-group-vertical d-flex">
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Smilansky: ‘Tinctoris and the Fernandez Brothers’
                    </a>
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Gallagher: ‘The Sound of Cantare super librum’
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <button id="btnFour" class="btn btn-link btn-block text-left font-weight-bold text-muted" type="button" data-toggle="collapse"
                    data-target="#partFour" 
                    {% if page.collapse=='btnFour' %}
                    aria-expanded="true"
                    {% else%}
                    aria-expanded="false"
                    {% endif %}
                    aria-controls="partFour">
                    Part Four: Source Studies and Biographical Context
                </button>
            </div>
            <div id="partFour" 
            {% if page.collapse=='btnFour' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="headingFour" data-parent="#esSidemenu">
                <div class="btn-group-vertical d-flex">
                    <a href="{{page.menu_base}}/Goursaud/#" role="button" class="btn btn-block btn-light text-left">
                        Goursaud: ‘The Production and History of Valencia 835’
                    </a>
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Woodley & Goursaud: ‘Bologna 2573’
                    </a>
                    <a href="#" role="button" class="btn btn-block btn-light text-left disabled">
                        Woodley: ‘Notes Towards a New Biography’
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="appHeading">
                <button id="btnApp" class="btn btn-link btn-block text-left font-weight-bold text-muted" type="button" data-toggle="collapse"
                    data-target="#appendix" 
                    {% if page.collapse=='btnApp' %}
                    aria-expanded="true"
                    {% else%}
                    aria-expanded="false"
                    {% endif %}
                    aria-controls="appendix">
                    Appendix
            </button>
            </div>
            <div id="appendix" 
            {% if page.collapse=='btnApp' %}
            class="collapse show"
            {% else %}
            class="collapse"
            {% endif %}
            aria-labelledby="appHeading" data-parent="#esSidemenu">
                <div class="btn-group-vertical d-flex">
                    <a href="{{page.menu_base}}/Sigla/#" role="button" class="btn btn-block btn-light text-left">
                        List of Sigla
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>