<div class="nav">
    <div class="row">
          <div class="tabl">
              <div class="frontpagemenu">
                <ul id="MenuBar1" class="MenuBarHorizontal">
          <li><a class="MenuBarItem" href="#">Home</a></li>
                      <li><a href="#" class="MenuBarItemSubmenu">Tinctoris</a>
                          <ul>
                              <li><a href="Tinctoris/BiographicalOutline/#">Biographical Outline</a></li>
                              <li><a class="placeholder" href="#">Work List</a></li>
                              <li><a class="placeholder" href="#">Sources</a></li>
                              <li><a href="Tinctoris/Bibliography/#">Bibliography</a></li>
                          </ul>
                      </li>
                      <li><a class="MenuBarItem" href="texts/">Theory</a></li>
                      <li><a class="MenuBarItem" href="Music/">Practice</a></li>
                      <li><a class="MenuBarItem" href="Articles">Commentary</a></li>
                      <li><a href="Project/ProjectTeam/#" class="MenuBarItem">About</a></li>
                  </ul>
              </div>
        </div>
      <div class="tabr"></div>
  </div>
</div>