.bibliographytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
 /* background-image: url(../Images/Ivory%20Laid%20Paper.png); */
/* background-image: url(core_images/buff3.gif); */
}
.super10 {
	font-size: 10px;
	font-style: normal;
	line-height: 0px;
	vertical-align: super;
}
a:link {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FF0000;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
}
.style2 {line-height: 0px; vertical-align: super; font-size: 10px;}
.style4 {line-height: 0px; vertical-align: super; font-size: 10px; font-style: italic; }
.style1 {font-size: 12px}
.contentbox, .marginalCitation {
 background-image: url(../Images/Ivory%20Laid%20Paper.png);
	/* background-image: url(core_images/buff3.gif); */
	background-repeat: repeat;
}
body {
 background-image: url(../Images/Ivory%20Laid%20Paper.png);
	/* background-image: url(core_images/buff3.gif); */
	background-repeat: repeat;
}
.style5 {font-size: 14px}
.cited {
  border-left: 5px solid #068297;
}
h1 {
  font-size: 120%;
}
h5 {
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 0;
  color: #414958;
}
.contentbox p {
  padding-left: 15px;
}
a.noteanchor:hover {
  color: #cc2414;
}