---
---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{page.rel_url}}/Images/jt.png">
		<link href="{{page.rel_url}}/SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/ScriptLibrary/biblio.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/css/thrColLiqHdr.css" rel="stylesheet" type="text/css" />
		<link type="text/css" rel="stylesheet" href="{{page.rel_url}}/ScriptLibrary/print.css?version=16" media="print"/>

    <script src="{{page.rel_url}}/SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/SpryAssets/SpryAccordion.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/jquery-2.0.2.min.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/jquery.hoverIntent.minified.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/dom.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/Tinctoris/Tinctoris/Bibliography/citation.js" type="text/javascript"></script>
    {% unless page.note == false %}
    <script src="{{page.rel_url}}/ScriptLibrary/notes.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/Tinctoris/Articles/Johannes-Tinctoris-And-Music-Theory/Sigla/sigla.js" type="text/javascript"></script>
    {% endunless %}
	</head>
	<body>
		<div class="JTcontainer">
            {% if page.header %}
                {% include {{ page.header }} %}
            {% else %}
            {% include tinctoris_header.html %}
            {% endif %}
            {% if page.menu %}
                {% include {{ page.menu }} %}
            {% endif %}

            {% if page.section == "e&s" %}
                {% include ess_sidemenu.html %}
            {% else %}
                <div class="sidebar1">
                    <!-- emtpy sidebar -->
                </div>
            {% endif %}
            
            {{ content }}
            <div class="sidebar2">
                <!-- empty sidebar -->
            </div>
            {% include footer.html %}
        <!-- end .container -->
        </div>
        <div id="toTop" onclick="window.scroll(0, 0);">^ Top</div>
        <script type="text/javascript">
            var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"{{page.rel_url}}/SpryAssets/SpryMenuBarDownHover.gif", imgRight:"{{page.rel_url}}/SpryAssets/SpryMenuBarRightHover.gif"});
        </script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
