---
---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Johannes Tinctoris and Music Theory — Jeffrey J Dean, ‘Tinctoris’s Reading Practice’</title>
		<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{page.rel_url}}/Images/jt.png">
		<link href="{{page.rel_url}}/SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/ScriptLibrary/biblio.css" rel="stylesheet" type="text/css" />
		<link href="{{page.rel_url}}/css/thrColLiqHdr.css" rel="stylesheet" type="text/css" />
		<link type="text/css" rel="stylesheet" href="{{page.rel_url}}/ScriptLibrary/print.css?version=16" media="print"/>

    <script src="{{page.rel_url}}/SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/SpryAssets/SpryAccordion.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/jquery-2.0.2.min.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/jquery.hoverIntent.minified.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/ScriptLibrary/dom.js" type="text/javascript"></script>
    <script src="{{page.rel_url}}/Tinctoris/Tinctoris/Bibliography/citation.js" type="text/javascript"></script>
    {% unless page.note == false %}
    <script src="{{page.rel_url}}/ScriptLibrary/notes.js" type="text/javascript"></script>
    {% endunless %}
	</head>
	
	<body>
		<div class="container">
            {% if page.header %}
                {% include {{ page.header }} %}
            {% else %}
            {% include tinctoris_header.html %}
            {% endif %}
            {% include article_menu.html %}
            <div class="sidebar1">
                <!-- emtpy sidebar -->
            </div>
            {{ content }}
            <div class="sidebar2">
                <!-- empty sidebar -->
            </div>
            {% include footer.html %}
        <!-- end .container -->
        </div>
        <div id="toTop" onclick="window.scroll(0, 0);">^ Top</div>
        <script type="text/javascript">
            var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"{{page.rel_url}}/SpryAssets/SpryMenuBarDownHover.gif", imgRight:"{{page.rel_url}}/SpryAssets/SpryMenuBarRightHover.gif"});
        </script>
    </body>
</html>