<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
  <title>EMT: Early Music Theory</title>
  <link rel="icon" type="image/png" href="{{page.rel_url}}/Images/jt.png">
  <link href="{{page.rel_url}}/css/thrColLiqHdr.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
  <div class="header">
  	<div class="imagebox" id="EMT"><a href="{{page.rel_url}}/#"><img src="{{page.rel_url}}/Images/EMT logo full.png" id="EMTLogo" alt="Early Music Theory Logo" name="EMTLogo"  /></a> </div>
    <div class="imagebox" id="projectlogo"></div>
    <div class="imagebox right" id="Team">
    </div>
  </div>
  <div class="sidebar1"></div>
  <!--{% include twitter.html %}-->
  <div class="content">
  	{{ content }}
    <!-- end .content -->
  </div>
  <div class="sidebar2">
    <div class="imagebox">
      <img src="{{page.rel_url}}/Images/Dediversismonochordis.png" alt="Opening from de diversis monochordis etc" />
    </div>
    <div class="contentbox">
      An opening from <i>De diversis monochordis etc.</i> in Ghent,
        Universiteitsbibliotheek, MS 70, copied in Ghent by
        Anthony van Sint-Maartensdijk, before 8 November 1503.
  </div>

    <!-- end .sidebar2 --></div>
  {% include footer.html %}
  <!-- end .container --></div>
</body>
</html>
