.onecolumn {
  padding: 0 1ex 0 1ex;
}
.twocolumn {
  padding: 0 1ex 0 1ex;
}
#navbox {
  /* padding: 0px; */
}
.drawTo .onecolumn span.marginalContent, 
.drawTo .twocolumn span.marginalContent {
  /* margin: -1em 0em -60em 0em; */
  /* margin-right: 0em; */
  padding-right: 0em;
  /* margin: -1em -8em -100em 0em; */
  /* padding-left: 12em; */
  /* float: right; */
  /* text-align: right */
}
/* .onecolumn .marginalContent, .twocolumn .marginalContent { */
/*   margin: -1em 0em -60em 0em; */
/*   /\* margin-right: 0em; *\/ */
/*   padding-right: 0em; */
/*   padding-left: 12em; */
/*   float: right; */
/* } */

.drawTo div.para{
  margin-right: 8em;
}

#navbox * {
  font-size: 95%;
  /* letter-spacing: -0.5px; */
  /* font-family: Georgia, serif; */
}

p {
  font-size: 100%;
  line-height: 145%;
}
/* #content.oneandahalfspacing { */
/*   line-height: 1.3; */
/* } */
/* #content.doublespacing { */
/*   line-height: 1.3; */
/* } */
#content.oneandahalfspacing div.para p {
  line-height: 1.95;
}
#content.doublespacing div.para p {
  line-height: 2.45;
}

.ligatureHorizontal {
  stroke-width: 2.3;
}
div.musicexample {
  display: inline-block;
}
svg {
  /* -moz-transform: scale(0.8, 0.8); */
  /* -webkit-transform: scale(0.8, 0.8); */
  /* -ms-transform: scale(0.8, 0.8); */
  /* -o-transform: scale(0.8, 0.8); */
  /* transform: scale(0.8, 0.8); */
  margin-top: 0px;
}
div.musicexample:first-child svg{
  margin-top: 0px;
}

.chantSquare {
  stroke-width: 5;
}

.maxRestGroup, .maxRestGroup line, .longRest, .longRest line {
  stroke: black;
  stroke-width: 1.2;
}
