body {
	font-family: Georgia, "Times New Roman", Times, serif	
}
.header {
	display: table;
	width: 98%;
	margin: 1ex;
	cursor: pointer;
}
.row {
		display: table-row;	
}
.cell {
	display: table-cell;
}
.EMTLogo {
	font-family: "Helvetica Neue", Helvetica, Verdana, Verdana, Geneva, sans-serif;
	text-align: center;
	border: 2px solid #444;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
}
.EMTLogo:hover {
  background-color: #EEF;	
}
.projecthead {
	width: 100%;
	padding: 10px;
	vertical-align: middle;
	display: table-cell;
	font-weight: 600;
	font-size: 135%;
	font-family: Georgia, "Times New Roman", Times, serif
}
.linkbar a {
	display: inline-block;
    background-color: #F6F6F6;
    padding: 1ex;
    border: 2px solid white;
    color: #009;
    border-radius: 2ex;
	cursor: pointer;
    text-decoration: none;
}
.linkbar a:hover {
  border: 2px solid #CCC;
  text-decoration: underline;
}
.linebelow{
	border-bottom: 1px solid #999;
	height: 3em;
		background-color: rgba(238, 238, 238, 0.95);
	/*background-color: #EEE;*/
	padding-bottom: 1em;
}
.options a.checked, .tickoptions.checked{
	font-weight: bold;
}
.options a:after, .tickoptions:after{
	content: none;
}
.options a.checked:after, .tickoptions.checked:after{
	content: " ✓";
}
#centrepane{
	position: relative;
	float: right;
	width: 55%;
	margin: 1em;
    padding: 15px;
	height: 100%;
}
#gettingstarted{
    width: 90%;
	height: 25%;
	margin: 1em;
    padding: 15px;
	overflow:auto;
	background-color: #EEE;
	border: 2px solid white;
}
#basicintro{
    width: 90%;
    padding: 15px;
	margin: 1em;
    height: 25%;
	overflow: auto;
	background-color: #EEE;
	border: 2px solid white;
}

#rightpane {
 position: relative;
 float: right;
 width: 30%;
}

#rightpane img{
 width: 85%;
 margin: 1em;
}

#menudiv {
  width: 98%;
  position: relative;
  background-color: #EEE;
  height: 2.2em;
}
#leftOptions{
	float: left;
	margin: 8px;
	width: 25ex;
}
.optionsBlock {
	margin: 8px 2px 8px 0;
	padding: 8px;
	background-color: rgba(238, 238, 238, 0.95);
	border-radius: 8px;
	font-size: 85%;
}
.optionsBlock div {
	padding: 6px 4px 0px 4px;
}

.optionsBlock .blockHeader {
	margin: 0;
	padding: 0 0 6px 0;
	font-weight: bold;
	color: #433;
	background-color: rgba(222,222,222,0.95);
}

.sourceNavigation{
}
.toggle, .tickoptions, .switchoption{
	cursor: pointer;
}
.toggle:hover, .tickoptions:hover, .switchoption:hover{
	background-color: #AAA;
	border-radius: 4px;
}
.textVariants:before, .translationNotes:before, .transcriptionNotes:before{
	content: "Show";
}
.textVariants.checked:before, .translationNotes.checked:before, .transcriptionNotes.checked:before{
	content: "Hide";
}
.punctuat:before{
	content: "Modern";
}
.punctuat.checked:before{
	content: "Manuscript";
}
.exx:after{
	content: "Original notation";
}
.exx.checked:after{
	content: "Modern notation";
}
.pane1{
  float: left;
  width: 45em;
  margin: 16px 3px 0 0;
  padding: 6px;
  overflow: scroll;
  background-color: #F5F0D7;
  border-radius: 8px;
}
div.tickgroup{
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-radius: 6px;
  padding: 5px 0;
  margin: 2px 0px 1px 7px;
}
div.switchoption span.label{
  font-weight: bold;
}
div.switchoption .opt{
  display: inline-block;
  border-left: 2px solid white;
  margin-left: 2px;
  padding-left: 2px;
}
div.switchoption.checked span.neg, div.switchoption span.pos, 
    div.switchoption.checked span.modern, div.switchoption span.MS {
  color: #999;
  font-weight: normal;
}
div.switchoption span.neg, div.switchoption.checked span.pos,
    div.switchoption span.modern, div.switchoption.checked span.MS{
  color: #000;
  font-weight: bold;
}
.infoshowhide{
  display: inline-block;
  width: 2ex;
  height: 2ex;
  font-size: 80%;
	font-family: "Helvetica Neue", Helvetica, Verdana, Verdana, Geneva, sans-serif;
  font-weight: bold;
  margin: -1ex 0.5ex 0 0 ;
  padding: 0.2ex 0.5ex 0.8ex 0.5ex;
  text-align: center;
  border-radius: 2ex;
  border:1px solid #655;
  background-color: #655;
  color: white;
  cursor: pointer
}
.infoshowhide:hover{
  border: 1px solid white;
  border:1px solid #D55;
  background-color: #C55;
}
.infoshowhide.showing{
  border:1px solid #A00;
  background-color: #900;
}